a {
    text-decoration: none !important;
}

body {
    max-width: 414px;
    max-height: 736px;
    margin: auto !important;
}

header {
    height: 50px;
}

label {
    margin-bottom: .2rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-bottom: 0rem !important; 
}

h1 {
    margin: 0rem !important;
    font-size: 2rem !important;
}



#content {
    min-height: calc(100vh - 50px);
    height: calc(100vh - 50px);
}

#regionLogo {
    width: 130px;
    height: 30px;
    margin: 0.5rem;
}

#forecastTitle {
    font-weight: bold;
    font-size: 25px;
    margin: 0.5rem;;
}

#forecastPlaceholder {
    width: 100%;
    height: auto;
}

#waitTimeBanner {
    background-color: yellow;
    height: 1rem;
    margin-bottom: 0.5rem;
}

.back-button {
    height: 40px;
    width: 40px;
    background-image: url(../img/arrow.png);
    background-size: 100% 100%;
    background-color: white;
    border: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.widthLimiter {
    width: 100%;
}

.navbar {
    padding: 0rem !important;
}

.navbar-nav {
    width: 100%
}

.pBlack {
    color: black;
}

.oneThird {
    width: 33.33%;
    text-align: center;
}

.navButton {
    width: 33.33%;
    text-align: center;
    background-color: silver;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
}

.nav-link {
    color: white !important;
}

.contentWrapper {
    justify-content: space-between;
    height: 100%;
}

.list-group {
    width: 100%;
}

.liftTitle {
    font-weight: bold;
    font-size: x-large;
}

.pictogramS {
    height: 1rem;
    width: 1rem;
}

.pictogramM {
    height: 2rem;
    width: 2rem;
}

.pictogramL {
    height: 4rem;
    width: 4rem;
}

.wait-time-background {
    border-radius: 0.2rem;
    padding: 0 3px;
}

.wait-time-background.green {
    background-color: rgb(70, 190, 54);
}

.wait-time-background.yellow {
    background-color: rgb(255, 255, 75);
}
.wait-time-background.orange {
    background-color: rgb(247, 137, 35);
} 

.wait-time-background.red {
    background-color: rgb(247, 22, 22);
}

.strike-through {
    text-decoration: line-through;
}

.symbols {
    height: 40px;
    width: 40px;
}


.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.circle:first-of-type {
    margin-left: 5px;
    margin-right: 2.5px;
}

.circle + .circle {
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.circle.blue {
    background-color: blue;
}

.circle.red {
    background-color: red;
}

.circle.black {
    background-color: black;
}

.circle.green {
    background-color: green;
}

.circle.yellow {
    background-color: yellow;
}

.reservation-button {
    background-color: rgb(180, 12, 12);
    color: white;
    border: 0;
    border-radius: 4px;
}

.restaurant-link {
    text-decoration: underline !important;
}

.weatherrow {
    margin: 0 !important;
    padding-top: 20px;
    padding-left: 7px;
    padding-right: 0px;
}

.weathercol {
    width: 20%;
    padding-left: 25px;
    padding-right: 25px;
}

.daylabel {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}